.button {
  position: relative;
  width: max-content;
  z-index: 0;
  color: $white;

  &::after {
    content: "";
    z-index: -1;
    position: absolute;
    inset: auto -8px -6px auto;
    width: 100%;
    height: 100%;
    border-radius: 0.25rem;
    background-color: $black;
  }
}

.text {
  display: block;
  padding: 1rem 0.75rem;
  border: 1px solid $black;
  border-radius: 0.25rem;
  background-color: $blue;
  transition: transform 100ms ease;

  .button:hover &,
  &:hover {
    transform: translate(-1%, -5%);
  }

  .button:active &,
  &:active {
    transform: translate(8px, 6px);
  }
}
