// breakpoints
$media-breakpoints: (
        xs: 0,
        sm: 360px,
        md: 768px,
        lg: 1280px,
        xl: 1440px,
        xxl: 1920px,
);

$black: var(--black, #333);
$white: var(--white, #f8f8f8);
$blue-900: var(--blue-900, #0070f3);
$blue-600: var(--blue-600, #449aff);
$blue-500: var(--light-500, #7ab7ff);

$border-radius-sm: .25rem
