@import '../../styles';

.image-widget {
  margin-inline: auto;
  width: 100%;
  max-width: 1000px;
}

.picture,
.image {
  display: block;
}

.picture {
  position: relative;
  width: 100%;
  aspect-ratio: 315 / 414;

  @include media-up(md) {
    aspect-ratio: 660 / 614;
  }

  @include media-up(lg) {
    aspect-ratio: 16 / 9;
  }
}

.image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
