---
import type { ImageWidget } from "../../service/models";

interface Props extends ImageWidget {}

const { image } = Astro.props;
---

<section class="image-widget">
  <picture class="picture">
    <img class="image" src={image.url} alt={image.alt} />
  </picture>
</section>

<style>
  .image-widget {
    margin-inline: auto;
    width: 100%;
    max-width: 1000px;
  }

  .picture,
  .image {
    display: block;
  }

  .picture {
    position: relative;
    width: 100%;
    aspect-ratio: 315 / 414;

    @media (min-width: 768px) {
      aspect-ratio: 660 / 614;
    }

    @media (min-width: 1280px) {
      aspect-ratio: 16 / 9;
    }
  }

  .image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }
</style>
