---
import type { TextWidget } from "../../service/models";

interface Props extends TextWidget {}

const { text } = Astro.props;
---

<section class="text-widget">
  <div class="wysiwyg" set:html={text} />
</section>

<style lang="scss">
  .text-widget {
    --columns: 1;

    display: grid;
    grid-template-columns: repeat(var(--columns), 1fr);
    gap: 50px;
    width: 100%;
    max-width: 1000px;
    margin-inline: auto;

    @include media-up(md) {
      --columns: 2;
    }
  }
</style>
