---
import type { TwoTextColsWidget } from "../../service/models";

interface Props extends TwoTextColsWidget {}

const { leftText, rightText } = Astro.props;
---

<section class="two-text-cols-widget">
  <div set:html={leftText} />
  <div set:html={rightText} />
</section>

<style>
  .two-text-cols-widget {
    --columns: 1;

    display: grid;
    grid-template-columns: repeat(var(--columns), 1fr);
    gap: 50px;
    width: 100%;
    max-width: 1000px;
    margin-inline: auto;

    @media (min-width: 768px) {
      --columns: 2;
    }
  }
</style>
