.text-area {
  display: flex;
  flex-direction: column;
  gap: .25rem;
}

.label {
  font-weight: bold;
}

.input-wrapper {
  position: relative;

  &::after {
    content: "";
    z-index: -1;
    position: absolute;
    inset: auto -8px -6px auto;
    width: 100%;
    height: 100%;
    border-radius: $border-radius-sm;
    background-color: $black;
  }

}

.input {
  display: block;
  width: 100%;
  padding: 0.5rem;
  border: 2px solid $black;
  border-radius: $border-radius-sm;
  transition: color 100ms ease, background-color 100ms ease;
  outline: 0;
  font-weight: bold;
  min-height: 4lh;
  resize: vertical;

  &:not(:disabled) {
    &:hover {
      background-color: $blue-500
    }

    &:focus {
      background-color: $blue-600;
      color: $white;
    }
  }

}
